<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="PC Game recommender system" content="">
    <meta name="Elizabeth Ferriss" content="">

    <title>Game recommendations</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/thumbnail-gallery.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Playful: Find your new favorite computer game</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Game recommendations
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about_playful">How it works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about_me">About me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div>
        <h2> <br> About playful </h2>
        <p> A few slides about Playful are embedded below, and details about the model are available on <a href='https://github.com/EFerriss/playful'>Github</a>.</p>

        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vROzKFeA1oUhDllwmDrSQTQxtWjYEGNcJNrF_YkZEO2HkSnmm_4kVTCBk74pDCa1ViJ_RuLRGn1-bDq/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

      </div>
    </div>