<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="PC Game recommender system" content="">
    <meta name="Elizabeth Ferriss" content="">

    <title>Game recommendations</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/thumbnail-gallery.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Playful: Find your new favorite computer game</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Game recommendations
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about_playful">How it works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about_me">About me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Recommender button -->
<div class="container">
      <h1 class="my-4 text-center text-lg-left"> </h1>
    </div>

    <div class = "container">

      <form  action="/recommendations" method="GET">
        <div class="form-group">
          <label for="user_id">Try a different Steam ID or vanityURL:</label>
          <input type="text" id="user_id" name='user_id' placeholder="">
        </div>

        <div>
          <button type="submit" class="btn btn-default btn-lg">Get more recommendations!</button>
        </div>

      </form>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

  </div> <!-- /.container-->


    <!-- The games -->
<div class="container">
  <div class="container">
    <h2 class="my-4 text-center text-lg-left">People who own {{games[0]}} also own:</h2>
  </div>

  <div class="container">
    <div class="row text-center text-lg-left">
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class = "caption">
           <h4>{{recs[0]}}</h4>
        </div>
        <a href={{links[0]}} class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src={{images[0]}} alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class = "caption">
         <h4>{{recs[1]}}</h4>
      </div>
      <a href={{links[1]}} class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src={{images[1]}} alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class = "caption">
         <h4>{{recs[2]}}</h4>
      </div>
      <a href={{links[2]}} class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src={{images[2]}} alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
    <div class = "caption">
       <h4>{{recs[3]}}</h4>
    </div>
    <a href={{links[3]}} class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src={{images[3]}} alt="">
    </a>
  </div>

  <div class="container">
    <h2 class="my-4 text-center text-lg-left">People who own {{games[1]}} also own:</h2>
  </div>

  <div class="container">
    <div class="row text-center text-lg-left">
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class = "caption">
           <h4>{{recs[4]}}</h4>
        </div>
        <a href={{links[4]}} class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src={{images[4]}} alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class = "caption">
         <h4>{{recs[5]}}</h4>
      </div>
      <a href={{links[5]}} class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src={{images[5]}} alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class = "caption">
         <h4>{{recs[6]}}</h4>
      </div>
      <a href={{links[6]}} class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src={{images[6]}} alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
    <div class = "caption">
       <h4>{{recs[7]}}</h4>
    </div>
    <a href={{links[7]}} class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src={{images[7]}} alt="">
    </a>
  </div>

  <div class="container">
    <h2 class="my-4 text-center text-lg-left">People who own {{games[2]}} also own:</h2>
  </div>

  <div class="container">
    <div class="row text-center text-lg-left">
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class = "caption">
           <h4>{{recs[8]}}</h4>
        </div>
        <a href={{links[8]}} class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src={{images[8]}} alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class = "caption">
         <h4>{{recs[9]}}</h4>
      </div>
      <a href={{links[9]}} class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src={{images[9]}} alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class = "caption">
         <h4>{{recs[10]}}</h4>
      </div>
      <a href={{links[10]}} class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src={{images[10]}} alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
    <div class = "caption">
       <h4>{{recs[11]}}</h4>
    </div>
    <a href={{links[11]}} class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src={{images[11]}} alt="">
    </a>
  </div>
</div>

    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
